* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100px;
  height: 100%;
}

body {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  background: #fafafa;
  height: 100%;
}

li {
  list-style: none
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

a {
  color: #7f4baf;
  text-decoration: none
}

input {
  padding: 0;
  outline: none
}

#app {
  height: 100%;
  min-width: 1064px;
}

.fl {
  float: left
}

.fr {
  float: right
}

.f12 {
  font-size: 12px
}

.f14 {
  font-size: 14px
}

.f16 {
  font-size: 16px
}

.f18 {
  font-size: 18px
}

.f22 {
  font-size: 22px
}

.f36 {
  font-size: 36px
}

.cfff {
  color: #ffffff
}

.c666 {
  color: #666666
}

.c999 {
  color: #999999
}

.c4a4 {
  color: #4a4a4a
}

.color-red {
  color: #c41710
}

.color-orange {
  color: #ff6c33
}

.fw700 {
  font-weight: 700
}

.p10 {
  padding: 10px
}

.mb25 {
  margin-bottom: 30px
}

.mb15 {
  margin-bottom: 15px
}

.mb10 {
  margin-bottom: 10px
}

.mb5 {
  margin-bottom: 5px
}

.mb1 {
  margin-bottom: 1px
}

.mt5 {
  margin-top: 5px
}

.mt10 {
  margin-top: 10px
}

.mt20 {
  margin-top: 20px
}

.mt30 {
  margin-top: 30px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.ml40 {
  margin-left: 40px
}

.ml20 {
  margin-left: 20px
}

.ml10 {
  margin-left: 10px
}

.mr10 {
  margin-right: 10px
}

.base-font {
  width: 4em
}

.p20 {
  padding-left: 20px;
  padding-right: 20px;
}

.w2 {
  letter-spacing: 2em;
  margin-right: -2em
}

.w3 {
  letter-spacing: 0.5em;
  margin-right: -0.5em
}

.vertical-list {
  list-style: none;
  margin: 0;
  padding: 0
}

.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0
}

.horizontal-list>li {
  float: left
}

.clear:after {
  content: "";
  clear: both;
  display: block;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #CBCCCE;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CBCCCE;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #CBCCCE;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #CBCCCE;
}

header {
  background: #ffffff;
  box-sizing: border-box;
  font-size: 20px;
  color: #606266;
  height: 64px;
  line-height: 64px;
}

header img {
  display: inline-block;
  vertical-align: middle;
}


